.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 15rem;
  min-height: 4rem;
  padding: 0 2rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  font-weight: 600;
  cursor: pointer;

  &.large {
    width: 20rem;
  }

  &--ghost {
    outline: none;
    border: 1px solid #00856f;
    color: #00856f;
  }

  &--primary {
    outline: none;
    background-color: #00856f;
    border: none;
    color: #fff;

    &:hover {
      background-color: #123304;
    }
  }
}
