.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1.8rem;
  font-size: 1rem;
  border-radius: 2rem;
  font-weight: 600;
  cursor: pointer;

  &.large {
    width: 20rem;
    padding: 1rem 1.8rem;
  }

  &--ghost {
    outline: none;
    border: 1px solid #419a1b;
    color: #419a1b;
  }

  &--primary {
    outline: none;
    background-color: #419a1b;
    border: none;
    color: #fff;

    &:hover {
      background-color: #123304;
    }
  }
}
