.auth-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15rem;
  align-items: center;
  justify-content: space-around;
  font-size: 1.6rem;
  margin-bottom: 2rem;

  &__logo {
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      width: 6rem;
      height: auto;
      object-fit: contain;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  & a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #333;
    min-height: 3rem;
    width: 15rem;
    padding-bottom: 1rem;

    &:last-of-type {
      margin-left: 1rem;
    }

    &.current-link {
      color: #00856f;
      border-bottom: 3.5px solid #00856f;
    }
  }
}
