.login {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 5rem auto;

  &__button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;

    & a {
      font-size: 1.6rem;
      color: #00856f;
    }
  }

  & h2 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-bottom: 4rem;
    font-family: "Domine", serif;
  }
}
