.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
  width: 60%;

  & form {
    width: 100%;
  }

  & h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  & button {
    margin-top: 2rem;
  }
}
