.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
  width: 60%;

  & form {
    width: 100%;
  }

  & h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    font-family: "Domine", serif;
    letter-spacing: 1.5px;
  }

  & button {
    margin-top: 2rem;
  }
}
