$border: 1px solid #e7e7e7;
.message-composer {
  display: grid;
  grid-template-columns: 3fr 0.5fr;
  background-color: #fff;
  width: 100%;
  border: $border;
  &__input {
    border-right: $border;
    & textarea {
      padding: 1.7rem 2rem;
      border: 0;
    }
  }

  &__emoji {
    display: flex;
    border-right: $border;
    align-items: center;
    justify-content: center;
  }

  &__send-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
