.post-page {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 60%;
  margin: 4rem auto;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    & h2 {
      font-size: 2rem;
      color: #333;
      font-weight: 600;
      font-family: "Domine", serif;
    }
  }

  &__write-post {
    margin-bottom: 6rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #ccc;
  }
}
