.topic-strip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  padding: 1.2rem 0;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  &__name {
    margin-left: 0;
  }

  &__icon {
    margin-right: 0;

    & img {
      height: 3rem;
      width: auto;
    }
  }

  & a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: inherit;
  }
}
