.search-field {
  display: flex;
  position: relative;
  &__input {
    background-color: #f6f6f6;
    padding: 1rem 2.5rem;
    width: 22rem;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 0.8rem;

    &:focus {
      transform: scale(1.01);
    }
  }

  &__icon {
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 40%;
    left: 5%;
    z-index: 999;
    fill: #777;
  }
}
