.forum {
  display: flex;
  width: 50%;
  align-items: center;
  flex-direction: column;
  margin: 3rem auto;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;

    & h2 {
      display: flex;
      font-size: 2rem;
      font-weight: 600;
      padding: 3rem 0;
      align-self: flex-start;
      font-family: "Domaine Display Semibold", serif;
      letter-spacing: 1px;
    }
  }

  &__posts-heading {
    display: flex;
    width: 100%;
    align-self: flex-start;
    margin-top: 6rem;
    font-weight: 600;
    font-size: 2rem;
    font-family: "Domaine Display Semibold", serif;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    letter-spacing: 1px;
  }

  &__links {
    width: 100%;
    margin-bottom: 3rem;
  }
}
