.edit-account {
  display: flex;
  flex-direction: column;
  align-items: center;

  & h3 {
    margin-top: 4rem;
    align-self: flex-start;
    align-self: center;
    font-size: 3rem;
    font-family: "Domaine Display Semibold", serif;
    margin-bottom: 6rem;
    width: 60%;
  }

  & form {
    display: grid;
    width: 60%;
    grid-template-columns: auto auto;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;

    & button {
      width: 20rem;
      margin-top: 2rem;
    }
  }

  &__other-skills {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    margin-top: 1rem;
    font-size: 1.6rem;
  }
}
