.messages {
  display: flex;
  min-height: 90vh;
  margin-bottom: 2rem;
  border-bottom: 1px solid #e7e7e7;

  &__preview-area {
    border-right: 1px solid #e7e7e7;
    width: 50%;
    background-color: #fff;
  }

  &__message-area {
    background-color: #f8f8f8;
    width: 50%;

    &--body {
      height: 90%;
    }

    &--composer {
      height: 10%;
    }
  }
}
