.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  font-size: 1.2rem;
  font-weight: 400;
  border-bottom: 1px solid #e6e6e6;
  &__logo {
    display: flex;
    align-items: center;
    width: 30%;
    margin-left: 2rem;
    cursor: pointer;

    & img {
      width: 4rem;
      height: auto;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30rem;
    margin-right: 2rem;
    margin-left: auto;
    position: relative;
    &--item {
      cursor: pointer;
    }
  }
}
