.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8rem;
  font-size: 1.6rem;
  font-weight: 400;
  border-bottom: 1px solid #e6e6e6;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin-left: 2rem;
    cursor: pointer;
    object-fit: contain;

    & a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    & img {
      width: auto;
      height: 8rem;
      margin-bottom: -2rem;
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2rem;
    align-items: center;
    margin-right: 2rem;
    margin-left: auto;
    position: relative;
    &--item {
      cursor: pointer;
    }
  }
}
