.post-preview {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  border-bottom: 1px solid #ccc;
  width: 100%;

  &__author {
    display: flex;
    &--name {
      font-size: 1.5rem;
      font-weight: 600;
    }

    &--image {
      width: 5rem;
      height: 5rem;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #08561f;
      border-radius: 50%;
      font-size: 1.6rem;
      font-weight: 400;
    }
    &--details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      margin-left: 1rem;
    }
    &--date {
      font-size: 1.2rem;
    }
  }
  &__title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  &__body {
    font-size: 1.5rem;
    padding: 0.5rem 0 2rem 0;
    line-height: 2;
    font-family: "Domine", serif;
  }
  & span {
    & a {
      color: #26856f;
      font-size: 1.3rem;
      font-weight: 600;
      text-decoration: none;
    }
  }
}
