.popular-topics {
  display: flex;
  width: 100%;
  margin-top: 4rem;
  flex-direction: column;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;

  &__posts {
    margin-top: 2rem;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto;
    margin-bottom: 2rem;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;

    & img {
      height: 4rem;
      width: auto;
    }

    & h2 {
      font-size: 2rem;
      font-weight: 600;
      color: #333;
      font-family: "Domine", serif;
    }
  }
}
