.message {
  width: 98%;
  border: 2px solid #e7e7e7;
  margin: 0.5rem 0.5rem;
  min-height: 35rem;
  background-color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--author-image {
      width: 5rem;
      height: 5rem;

      & img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
      }
    }
  }

  &__body {
    display: flex;
    margin-top: 1rem;
    margin-left: 5rem;
    line-height: 1.7;
    font-size: 1.4rem;
  }
}
