.create-reply {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  margin-top: 2rem;

  &__author {
    display: flex;
    align-items: baseline;
    width: 100%;

    & span {
      margin-left: 2rem;
      font-size: 1.5rem;
      font-weight: 700;
      font-family: "Domine", serif;
    }

    &--image {
      width: 4rem;
      height: 4rem;
      color: #fff;
      background-color: #00856f;
      border-radius: 50%;
      font-size: 1.6rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--username {
      display: flex;
      align-items: center;
      margin-right: auto;
      margin-left: 0.5rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: #00856f;
      cursor: pointer;

      &.anon {
        font-weight: 700;
        cursor: default;
      }
    }

    &--anon {
      border: 1px solid #ccc;
      border-radius: 2px;
      width: 20rem;
      font-size: 1.6rem;
      padding: 1rem 0;
    }
  }

  &__field {
    width: 100%;
    margin-top: 2rem;
  }

  & button {
    margin-top: 1rem;
    align-self: flex-end;
  }
}
